@font-face {
    font-family: "Sahel";
    src: url("/static/assets/fonts/Sahel.ttf");
}

body {
    direction: rtl;
    background-color: #f0eded;
    font-family: "Sahel";
}

div .row {
    margin: 0;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 20px auto;
}

strong.single-game {
    color: rgb(255, 60, 11);
}