{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بازی نقطه و خط | Dots And Boxes</title>
    <link rel="stylesheet" href={% static "dotsbox/dotsandboxes.css" %}>
</head>

<body>
    <div class="status">
        <div class="status2">
            <p id="turn">شما : <strong id="player-show"> ... </strong></p>
            <p id="score-me">امتیاز من : <strong id="score-m">0</strong></p>
            <p id="score-competitor">امتیاز حریف : <strong id="score-c">0</strong></p>
        </div>
    </div>
    <div id="dotsandboxes">

    </div>

    <div class="status">
        <div class="status2">
            <p id="status">در حال اتصال به سرور ... </p>
        </div>
    </div>
    <script src={% static 'dotsbox/d3.v4.min.js' %}></script>
    <script src={% static 'dotsbox/dotsandbox.js' %}></script>
    <script src={% static 'game_socket.js' %}></script>
</body>

</html>