{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>بازی</title>
    <link rel="stylesheet" href={% static "assets/bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "assets/fonts/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "index/style.css" %}>
</head>

<body class="text-secondary" style="width: 100%;height: 100%;">
    <!-- Modal Awaiting  -->
    <div class="modal fade" id="modal_awaiting_join_member">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>انتظار برای تکمیل شدن گروه</p>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%"
                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="delete_group(event);">حذف گروه</button>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center"><i class="fa fa-gamepad" style="font-size: 80px;"></i>
        <div style="margin: 5%;width: 90%;height: 95%;filter: blur(0px);"><strong style="color: rgb(17,143,255);">ساخت
                گروه</strong>
            <div style="padding: 1%;">
                <form method="GET" action="#" onsubmit="return false;">
                    <div style="padding-bottom: 2%;"><label for="group-name">اسم گروه :</label>
                        <input class="form-control" type="text" style="margin: 0;" name="group-name" id="group-name"
                            placeholder="اسم گروه">
                    </div>
                    <div style="padding-bottom: 2%;"><label for="group-pass">رمز گروه :</label>
                        <input class="form-control" type="text" style="margin: 0;" name="group-pass" id="group-pass"
                            placeholder="رمز گروه">
                    </div>
                    <div style="padding-bottom: 4%;">
                        <label for="game-id">انتخاب بازی : </label>
                        <select class="form-control" name="game-select" id="game-id">
                            <optgroup label="انتخاب بازی">
                                {% for game in games %}
                                <option value="{{game.name}}">{{game.name}}</option>
                                {% empty %}
                                <option value="no-game">No Game</option>
                                {% endfor %}
                            </optgroup>
                        </select></div>
                    <div><button class="btn btn-primary" type="button" onclick="creategroup();">ایجاد گروه</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='div_join_group'><strong style="color: rgb(235,14,0);">عضو شدن در گروه ها&nbsp;</strong>
            {% for group in groups %}
            <div class="row" name={{group.group_name}}>
                <div class="col">
                    <div class="card" style="margin: 6%;">
                        <div class="card-body rounded" style="background-color: #ffbe76;">
                            <h4 class="card-title" style="color: rgb(251,251,251);">اسم گروه : {{group.group_name}}</h4>
                            <h6 class="text-muted card-subtitle mb-2">نام بازی : {{group.game}}</h6>
                            <h6 class="text-muted card-subtitle mb-2">ظرفیت باقی مانده : 1 عدد</h6>
                            <input class="form-control mb-2" type="text" id="group-pass-join" placeholder="رمز گروه">
                            <button class="btn btn-primary" type="button"
                                onclick="joingroup_button(event,'{{group.group_name}}');">عضو شدن در گروه</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="button">
                No Group
            </div>
            {% endfor %}

            <!-- <div class="spinner-border text-primary" id="spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div> -->



        </div>
    </div>
    <script src={% static "assets/js/jquery.min.js" %}></script>
    <script src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "index/game.js" %}></script>

</body>

</html>