{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سنگ کاغذ قیچی</title>
    <link rel="stylesheet" href={% static "rockpaper/rockpaper.css" %}>
</head>

<body>
    <div class="status">
        <div class="status2">
            <p id="turn">شما : <strong id="player-show"> ... </strong></p>
            <p id="score-me">امتیاز من : <strong id="score-m">0</strong></p>
            <p id="score-competitor">امتیاز حریف : <strong id="score-c">0</strong></p>
            <p id="rounds">راند : <strong id="round">1</strong> از 15</p>
        </div>
    </div>
    <div id="rockpaper">
        <div class="game--container">
            <div data-cell-index="R" class="cell">
                <img src="{% static 'rockpaper/hand-rock.png' %}" alt="rock" style="max-height: 70px;" data-cell-index="R">
            </div>
            <div data-cell-index="P" class="cell">
                <img src="{% static 'rockpaper/hand-paper.png' %}" alt="paper" style="max-height: 70px;" data-cell-index="P">
            </div>
            <div data-cell-index="S" class="cell">
                <img src="{% static 'rockpaper/hand-scissor.png' %}" alt="scissor" style="max-height: 70px;" data-cell-index="S">
            </div>
        </div>
    </div>

    <div class="status">
        <div class="status2">
            <p id="status">در حال اتصال به سرور ... </p>
        </div>
    </div>
    <script src={% static 'rockpaper/RockPaper.js' %}></script>
    <script src={% static 'game_socket.js' %}></script>
</body>

</html>